@import url("~leaflet/dist/leaflet.css");
body {
  background-color: #d5d9ab; /* Set your desired background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
.leaflet-container {
  width: 100%;
  height: 100vh;

}


.zone-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.zone-buttons button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.zone-buttons .Traffic {
  background-color: #4caf50; /* Green background color for "Zones de Trafic" button */
}

.zone-buttons .Accident {
  background-color: #ff0000; /* Red background color for "Zones d'Accidents" button */
}
